<%-include("header.ejs"); -%>
<div class="box" id="heading">
  <h1><%= listHeading%></h1>
</div>
<div class="box">
    <%newListItems.forEach((newListItem)=>{%>
    <form class="" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= newListItem._id%>" onchange="this.form.submit()">
      <p class="item"><%=newListItem.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%=listHeading%>"></input>
    </form>
    <%})%>

    <form class="item" action="/" method="post">
      <input type="text" name="enterItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="lists" value="<%= listHeading%>">+</button>
    </form>
    </div>
<%- include('footer.ejs'); -%>
